.RoomSection-participants {
    flex: 1;
    padding: 20px;
    background-color: #625f5f;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to the top */
    align-items: center; /* Center items horizontally */
    height: 800px;
  }
  
  .RoomSection-participants-container {
    border: 10px solid black;
    border-radius: 5px;
    width: 100%; /* Ensures the container takes the full width */
    padding: 20px;
    box-sizing: border-box; /* Includes border and padding in the total width */
  }
  
  .RoomSection-participants h2 {
    margin-bottom: 10px; /* Add margin to separate text from list */
  }
  
  .RoomSection-participants ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto; /* Add scroll for the participant list */
  }
  
  .RoomSection-participants li {
    margin-bottom: 5px; /* Add margin between participants */
  }
  